################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Exercicios_Lista1/obj
/Exercicios_Lista1/bin/Debug/net6.0
/Exercicios_Lista1/.vs
/Exercicios_Lista2/obj
/Exercicios_Lista2/bin/Debug/net6.0
/Exercicios_Lista2/.vs
/Exercicios_Lista3/obj
/Exercicios_Lista3/bin/Debug/net6.0
/Exercicios_Lista3/.vs
/Exercicios_Lista4/obj
/Exercicios_Lista4/Exercicios_Lista4.sln
/Exercicios_Lista4/Exercicios_Lista4.csproj
/Exercicios_Lista4/bin/Debug/net6.0
/Exercicios_Lista4/.vs
/Exercicios_Lista5/obj
/Exercicios_Lista5/Exercicios_Lista5.sln
/Exercicios_Lista5/Exercicios_Lista5.csproj
/Exercicios_Lista5/bin/Debug/net6.0
/Exercicios_Lista5/.vs
/Aulas/.vs
/Aulas/bin/Debug/net6.0
/Aulas/obj
/Aulas/Aulas.csproj
/Aulas/Aulas.sln
/anotacoesAlexandre/Exercicio1_lista3/.vs/Exercicio1_lista3
/anotacoesAlexandre/Exercicio1_lista3/bin/Debug/net6.0
/anotacoesAlexandre/Exercicio1_lista3/obj
/anotacoesAlexandre/Exercicio1_lista3/Exercicio1_lista3.csproj
*.sln
/anotacoesAlexandre/Exercicio3_lista3/bin/Debug/net6.0
/anotacoesAlexandre/Exercicio3_lista3/obj
/anotacoesAlexandre/Exercicio7_lista3/obj
/anotacoesAlexandre/Exercicio7_lista3/bin/Debug/net6.0
/anotacoesAlexandre/Exercicio7_lista3/.vs/Exercicio7_lista3
/anotacoesAlexandre/OO/ExemploOONativo1/obj
/anotacoesAlexandre/OO/ExemploOONativo1/bin/Debug/net6.0
/Exercicios_Aula6/obj
/Exercicios_Aula6/.vs/Exercicios_Aula6/v17
/Exercicios_Aula6/.vs/Exercicios_Aula6/DesignTimeBuild
/Exercicios_Aula6/bin/Debug/net6.0
/Exercicios_Lista6/.vs
/Exercicios_Lista6/obj
/Exercicios_Lista6/bin/Debug/net6.0
/Aulas_OO/.vs/Aulas_OO
/Aulas_OO/bin/Debug/net6.0
/Aulas_OO/obj
/Aulas_OO/.vs/ProjectEvaluation
/Exercicios_Lista7/.vs
/Exercicios_Lista7/bin/Debug/net6.0
/Exercicios_Lista7/obj
/Exercicios_Lista7/.idea/.idea.Exercicios_Lista7/.idea
/Aula_13-10-22_OO3/.vs/Aula13-10-22_OO3/DesignTimeBuild
/Aula_13-10-22_OO3/.vs/Aula13-10-22_OO3/FileContentIndex
/Aula_13-10-22_OO3/.vs/Aula_13-10-22_OO3/FileContentIndex
/Aula_13-10-22_OO3/bin/Debug/net6.0
/Aula_13-10-22_OO3/.vs/ProjectEvaluation/aula_13-10-22_oo3.projects.v5.1
/Aula_13-10-22_OO3/.vs/ProjectEvaluation/aula_13-10-22_oo3.metadata.v5.1
/Aula_13-10-22_OO3/.vs/ProjectEvaluation/aula13-10-22_oo3.projects.v5.1
/Aula_13-10-22_OO3/.vs/ProjectEvaluation/aula13-10-22_oo3.metadata.v5.1
/Aula_13-10-22_OO3/.vs/ProjectEvaluation
/Aula_13-10-22_OO3/obj
/Aula_13-10-22_OO3/.vs/Aula13-10-22_OO3/v17/.suo
/Aula_13-10-22_OO3/.vs/Aula13-10-22_OO3/v17/.futdcache.v2
/Aula_13-10-22_OO3/.vs/Aula_13-10-22_OO3/v17/.suo
/Aula_13-10-22_OO3/.vs/Aula_13-10-22_OO3/v17/.futdcache.v2
/Aula_14-10-22_Dictionary/.vs/Aula_14-10-22_Dictionary
/Aula_14-10-22_Dictionary/bin/Debug/net6.0
/Aula_14-10-22_Dictionary/obj
/Aula_14-10-22_Dictionary/.vs/ProjectEvaluation
/Exercicios_Lista8/.vs
/Exercicios_Lista8/bin/Debug/net6.0
/Exercicios_Lista8/obj
/Exercicios_Lista9/.vs
/Exercicios_Lista9/bin/Debug/net6.0
/Exercicios_Lista9/obj
/Desafio1
/MiniERP/
/Exercicios_Lista11/.vs
/Desafio1/
/Aulas_WindowsForms/.vs
/Aulas_WindowsForms/bin/Debug/net6.0-windows
/Aulas_WindowsForms/obj
*.user
/Exercicios_Lista11/.vs/Exercicios_Lista11
/Exercicios_Lista11/obj/Debug/net6.0-windows
/Exercicios_Lista11/obj
/Exercicios_Lista11/.vs/ProjectEvaluation
/Exercicios_Lista11/bin/Debug/net6.0-windows
/1 - materialApoio
/2 - exerciciosDesafios
/Aula_04-11-2022/.vs/Aula_04-11-2022
/Aula_04-11-2022/bin/Debug/net6.0-windows
/Aula_04-11-2022/obj
/Aula_04-11-2022/.vs/ProjectEvaluation
/SQL Server
/Aula_14-11-22/.vs/Aula_14-11-22/DesignTimeBuild
/Aula_14-11-22/.vs/Aula_14-11-22/FileContentIndex
/Aula_14-11-22/.vs/Aula_14-11-22/v17
/Aula_14-11-22/.vs/ProjectEvaluation
/Aula_14-11-22/bin/Debug/net6.0-windows
/Aula_14-11-22/obj
/PrimeiroAppADO.NET/.vs/PrimeiroAppADO.NET/DesignTimeBuild
/PrimeiroAppADO.NET/.vs/PrimeiroAppADO.NET/v17
/PrimeiroAppADO.NET/.vs/PrimeiroAppADO.NET/FileContentIndex
/PrimeiroAppADO.NET/.vs/ProjectEvaluation
/PrimeiroAppADO.NET/bin/Debug/net6.0-windows
/PrimeiroAppADO.NET/obj/Debug/net6.0-windows
/PrimeiroAppADO.NET/obj
/WF_Glicemia_BD/.vs
/WF_Glicemia_BD/bin/Debug/net6.0-windows
/WF_Glicemia_BD/obj
/ExemploNavega/.vs
/ExemploNavega/obj
/AtosEntityCodeFirst/.vs
/AtosEntityCodeFirst/bin/Debug/net6.0
/AtosEntityCodeFirst/obj
/AtosEntityDatabaseFirst/.vs/AtosEntityDatabaseFirst
/AtosEntityDatabaseFirst/bin/Debug/net6.0
/AtosEntityDatabaseFirst/obj
*.zip
/CRUD_ADONet
/WindowsFormsSerializacao
/AtosEntityDatabaseFirst/.vs/ProjectEvaluation
/Colecoes/.vs
/Colecoes/bin/Debug/net6.0
/Colecoes/obj
/MiniERP_2.2/.vs
/MiniERP_2.2/bin/Debug/net6.0-windows
/MiniERP_2.2/obj
/RestAPI Primeiro Exemplo/.vs
/RestAPI Primeiro Exemplo/bin/Debug/net6.0
/RestAPI Primeiro Exemplo/obj
/RestApi Exercicio 2/.vs/RestApi Exercicio 2
/RestApi Exercicio 2/obj
/RestApi Exercicio 2/bin/Debug/net6.0
/RestApi Exercicio 2/appsettings.Development.json
/anotacoesAlexandre/Exercicio3_lista3/Exercicio3_lista3.csproj
/anotacoesAlexandre/Exercicio7_lista3/Exercicio7_lista3.csproj
/anotacoesAlexandre/OO/ExemploOONativo1/ExemploOONativo1.csproj
/Aulas_OO/Aulas_OO.csproj
/PrimeiroAppADO.NET/PrimeiroAppADO.NET.csproj
/RestAPI Primeiro Exemplo/Properties
/RestAPI Primeiro Exemplo/appsettings.Development.json
/Aulas_WindowsForms/Aulas_WindowsForms.csproj
/Aula_04-11-2022/Aula_04-11-2022.csproj
/Aula_13-10-22_OO3/Aula_13-10-22_OO3.csproj
/WF_Glicemia_BD/WF_Glicemia_BD.csproj
/CriptografiaExemplo
/Exercicios_Lista9/Exercicios_Lista9.csproj
/Exercicios_Lista8/Exercicios_Lista8.csproj
/Exercicios_Lista7/Exercicios_Lista7.csproj
/RestApi Exercicio 2/.vs/
/Aula_14-10-22_Dictionary/Aula_14-10-22_Dictionary.csproj
/Aula_14-11-22/Aula_14-11-22.csproj
/Colecoes/Colecoes.csproj
/ExemploNavega/ExemploNavega.csproj
/Exercicios_Lista11/Exercicios_Lista11.csproj
/Exercicios_Lista6/Exercicios_Lista6.csproj
/App1/.vs
/App1/App1/bin/Debug/netstandard2.0
/App1/App1/obj
/App1/App1.Android/obj
/MiniERP_2.2/Views/frmEditCli.Designer.cs
/MiniERP_2.2/Views/frmClientes.Designer.cs
/MiniERP_2.2/Views/frmClientes.resx
/MiniERP_2.2/Views/frmProdutos.Designer.cs
/MiniERP_2.2/Views/frmNotas.resx
/MiniERP_2.2/Views/frmNotas.Designer.cs
/MiniERP_2.2/Views/frmMiniErp.resx
/MiniERP_2.2/Views/frmEditNot.Designer.cs
/App2/.vs
/App2/App2/bin/Debug/netstandard2.0
/App2/App2/obj
/App2/App2.Android/bin/Debug
/App2/App2.Android/obj
/App2/App2.iOS/bin/iPhoneSimulator/Debug
/App2/App2.iOS/obj
/App2/App2.UWP/bin/x64/Debug
/App2/App2.UWP/obj
/CalculadoraApp/.vs
/CalculadoraApp/CalculadoraApp/bin
/CalculadoraApp/CalculadoraApp/obj
/CalculadoraApp/CalculadoraApp.Android/bin
/CalculadoraApp/CalculadoraApp.Android/obj
/CalculadoraApp/CalculadoraApp.iOS/bin/iPhoneSimulator/Release
/CalculadoraApp/CalculadoraApp.iOS/obj
/CalculadoraApp/CalculadoraApp.UWP/bin/x64
/CalculadoraApp/CalculadoraApp.UWP/obj/x64/Debug/.winmd_cache/$Microsoft.Graphics.Canvas.winmd_636160715180000000.json
/CalculadoraApp/CalculadoraApp.UWP/obj
/Gerenciador de Pedidos/.vs
/Gerenciador de Pedidos/bin/Debug/net6.0
/Gerenciador de Pedidos/obj
/ConsumindoAPI/.vs/ConsumindoAPI
/ConsumindoAPI/bin/Debug/net6.0
/ConsumindoAPI/obj
