<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <add name="GlicemiaDBString"
         connectionString="Data source=localhost;
         Initial Catalog=glicemia_db;
         TrustServerCertificate=True;
         Integrated security=True;
         User ID=rafael;
         password=abc123;
         language=Portuguese"/>
  </connectionStrings>
</configuration>